* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 200px;
}

.color-info {
  background-color: #1f1f1f;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  border-radius: 100px;
}

.flip-button {
  width: 200px;
  height: 80px;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border: 2px solid #000;
  font-size: 3rem;

}

.flip-button:hover {
  box-shadow: 0 10px 0 -2px;
}

.flip-button:active {
  transform: translateY(10px);
  box-shadow: none;
}